<?xml version="1.0"?>
<launch>

  <rosparam command="load" ns="fts" file="$(find ati_mini_45)/config/can_ati.yaml"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="fts_real_transfrom" args="0 0 0 0 0 0.89584996 -0.44435666 /kms_transformed_link /kms_real"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="fts_transfrom" args="-0.348 0 0.96 0 0 0 1 /base_link /kms_transformed_link"/>

<!-- start powercube_chain -->
  <node pkg="ati_mini_45" type="ati_mini_45_node" name="fts_node" ns="fts" cwd="node" respawn="false" output="screen">
  </node>
  
<!-- launch Visualisation -->
	<node  pkg="rviz" type="rviz" name="visualisation" output="screen" args="-d $(find ati_mini_45)/config/sensor_nonrotated.rviz" />

</launch>
