<?xml version="1.0"?>
<launch>

    <rosparam command="load" ns="fts" file="$(find ati_mini_45)/config/socket_can_ati.yaml"/>

    <!-- Transform Broadcasters for Transformation Link to Sensor -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="fts_real_transform" args="0 0 0 1 0 0.0 0.0 /base_link /kms_real"/>

    <!-- start FTS Driver Node -->
    <node pkg="ati_mini_45" type="ati_mini_45_node" name="fts_node" ns="fts" cwd="node" respawn="false" output="screen">
    </node>

</launch>
