<?xml version="1.0"?>
<launch>
    <arg name="is_socket" default="true"/>
    <arg name="sim" default="false"/>

    <rosparam command="load" file="$(find ati_force_torque)/config/socket_can_ati.yaml" if="$(arg is_socket)"/>
    <rosparam command="load" file="$(find ati_force_torque)/config/can_ati.yaml" unless="$(arg is_socket)"/>
    <rosparam command="load" file="$(find ati_force_torque)/config/sensor_configuration_sim.yaml" if="$(arg sim)"/>
    <rosparam command="load" file="$(find ati_force_torque)/config/sensor_configuration.yaml" unless="$(arg sim)"/>

</launch>
