<?xml version="1.0"?>
<launch>

    <arg name="teleop_yaml" value="$(find ati_force_torque)/config/teleop_sim.yaml"/>
    
	<include file="$(find ati_force_torque)/ros/launch/joy.launch"/>

	<node ns="teleop" pkg="cob_teleop" type="cob_teleop" name="$(anon teleop_node)" cwd="node" respawn="false" output="screen">
		<rosparam file="$(arg teleop_yaml)" command="load"/>
	</node>

</launch>

