<?xml version="1.0"?>
<launch>
    <arg name="is_socket" default="true"/>
    <arg name="sim" default="false"/>
    
    <!-- send urdf to param server -->
    <arg name="scenario_parameters" value="sim:=$(arg sim)"/> 
    <param name="sensor_description" command="$(find xacro)/xacro --inorder '$(find ati_force_torque)/description/urdf/sensor_mini58.urdf.xacro' $(arg scenario_parameters)"/>  
    
    <!-- sensor state publisher -->
    <node ns="fts" pkg="robot_state_publisher" type="robot_state_publisher" name="sensor_state_publisher">
        <param name="publish_frequency" type="double" value="200.0" />
        <param name="tf_prefix" type="string" value="" />
        <remap from="robot_description" to="sensor_description" />
    </node>
    
    <include ns="fts" file="$(find ati_force_torque)/launch/sensor_parameters.launch">
      <arg name="is_socket" value="$(arg is_socket)"/>
      <arg name="sim" value="$(arg sim)"/>
    </include>

    <rosparam command="load" file="$(find ati_force_torque)/config/sensor_configuration.yaml"/>

    <!-- start FTS Driver Node -->
    <node pkg="force_torque_sensor" type="force_torque_sensor_node" name="fts" ns="fts" cwd="node" respawn="false" output="screen">
    </node>

</launch>
