<?xml version="1.0"?>
<launch>
    <rosparam command="load" file="$(find ati_force_torque)/config/rs485_ati.yaml"/>
    <rosparam command="load" file="$(find ati_force_torque)/config/sensor_configuration_rs485.yaml"/>
    <rosparam command="load" ns="Calibration/Offset" file="$(find ati_force_torque)/config/sensor_offset.yaml" />
</launch>
