<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ati_mini58" >

  <!-- ati_mini58 -->

  <xacro:if value="$(arg sim)">
	  <xacro:include filename="$(find ati_force_torque)/description/urdf/macros/mini58_sim.urdf.xacro" />
  </xacro:if>
  <xacro:unless value="$(arg sim)">
	  <xacro:include filename="$(find ati_force_torque)/description/urdf/macros/mini58.urdf.xacro" />
  </xacro:unless>

  <!-- Used for fixing sensor to Gazebo -->
  <link name="base_link"/>

  <!-- sensor -->
  <xacro:ati_mini58 name="fts" parent="base_link">
      <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:ati_mini58>

</robot>
