<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="ati_ftm115" >

  <!-- ati ftm115 -->
  <xacro:include filename="$(find ati_force_torque)/description/urdf/macros/ftm115.urdf.xacro" />

  <!-- Used for fixing sensor to Gazebo -->
  <link name="base_link"/>

  <!-- sensor -->
  <xacro:ati_ftm115 name="fts" parent="base_link">
      <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:ati_ftm115>

</robot>
